{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}


{% block content %} 
<div class="account-container pt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5 ">
            <h1 class="text-center fontM logo-text comments-underline">{% trans "Sign Out" %}</h1>

            <p class="text-center fontH rating-p">{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 mt-3 text-center">

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn submitButton text-center fw-bold text-black mb-5" type="submit">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}