/* <img class="card-img-top" src="https: //res.cloudinary.com/dvbuzkqgj/image/upload/v1699017913/co0wij2wgwuxtxzn3tvi.png" alt="placeholder image"> */

body {
    background-color: #f4f3ee;
}

* {
    margin: 0;
    padding: 0;
}


.padding {
    padding: 10px;
}

.margin-top {
    margin-top: 5px;
}

.fontM {
    font-family: 'Montez', sans-serif;
}

.fontH {
    font-family: 'Hind Siliguri', sans-serif;
}

.font-size {
    font-size: 130%;
}

.logo-text {
    font-weight: Bold;
    font-size: xxx-large;
    letter-spacing: 4px;
    color: #3a3a3a;
}

.text-color {
    color: rgb(28, 27, 27);
}

.navbar-bg {
    background-color: #E6BEAE;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #f4f3ee;
}

.nav-item {
    font-family: 'Hind Siliguri', sans-serif;
}

.nav-item:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

.container-height {
    height: auto;
}

#background-image {
    background-image: url("/static/image/background.jpg");
    background-size: cover;
}

/* Recipe detail */

/* copy frm pp4 */

body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
    height: 300px;
    width: 100%;
}

.image-container img {

    height: 100%;
    width: 100%;
    object-fit: cover;

}

.img-thumbnail {
    border-radius: 0%;
    border: none;
}

.img-thumbnail-margin {
    margin: auto;
    margin: 50px 0 50px 0;
}


.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #E6BEAE;
}

.image-flash-title {
    position: absolute;
    bottom: 20%;
    min-width: 30%;
    left: -2px;
    background-color: #E6BEAE;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

#recipe-detail {
    width: 80%;
    height: auto;
    /* border: 5px Solid #F9FAFC;
    background-color: #F9FAFC; */
    margin: auto;
}


.recipe-header-container {
    width: 100%;
    height: 450px;
    /* position: relative; */
}

.recipe-detail-header {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: right;
}

.recipe-title {
    width: 100%;
    height: auto;
    background-color: rgb(230, 190, 174, 0.4);
    padding-right: 15px;
    position: absolute;
    bottom: 10px;
}

.recipe-info {
    width: 100%;
    height: auto;
}

.recipe-detail-img {
    /* position: absolute; */
    /* margin: auto; */
    width: 100%;
    height: 100%;
    border: 4px Solid rgb(230, 190, 174, 0.8);
    overflow: hidden;
}

.recipe-detail-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation-name: hero-image-animation;
    animation-duration: 10s;
}

@keyframes hero-image-animation {
    40% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(1);
    }
}

.all_details,
.comment-bg {
    background-color: rgb(230, 190, 174, 0.8);
}

#ingredients,
.comments {
    text-decoration: underline;
}

#instructions {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
}

/* to break long words and wrap onto the next line */
.title-container h1,
.instructions-container p {
    word-wrap: break-word;
}

.instructions-container p {
    font-size: 18px;
}

#submitButton {
    background-color: #df835e;
}

#submitButton:hover {
    background-color: #f4f3ee;
    color: #df835e;
    font-weight: bold;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}


.image-margin {
    margin: auto;
}

/* end */


.category-container, .method-container {
    height: auto;
    width: 88%;
    display: flex;
    overflow: auto;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 2;
}

.categories-methods {
    width: 220px;
    height: 350px;
    background-color: transparent;
    position: relative;
    margin-right: 12px;
}


.flex-list-item {
    flex: 0 0 auto;
}

.list-group-item {
    background-color: transparent;
    border: 0;
}


.categories-methods img {
    width: 100%;
    height: 90%;
    border: 5px solid #f4f3ee;
    object-fit: cover;
}

.image-flash-cat,
.image-flash-method {
    position: absolute;
    height: 30px;
    bottom: 15%;
    min-width: 30%;
    left: -2px;
    background-color: #E6BEAE;
}

.cat-text-decor, .method-text-decor{
    text-decoration: none;
}

.cat-p, .method-p {
    text-align: center;
    font-size: 17px;
    color: white;
    margin: 4px;
}

@media screen and (max-width: 557px) {
    .logo-display {
        display: none;
    }

    .logo-text {
        font-weight: Bold;
        font-size: xx-large;
        letter-spacing: 3px;
    }
}