body {
    background-color: #F9FAFC;
}

* {
    margin: 0;
    padding: 0;
}


.padding {
    padding: 10px;
}

.margin-top {
    margin-top: 5px;
}

.fontM {
    font-family: 'Montez', sans-serif;
}

.fontH {
    font-family: 'Hind Siliguri', sans-serif;
}


.font-size {
    font-size: 130%;
}

.background {
    background-color: #efddd7;
}

.logo-text {
    font-weight: Bold;
    font-size: xxx-large;
    letter-spacing: 4px;
    color: #3a3a3a;
}

.navbar-bg {
    background-color: #E6BEAE;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #f4f3ee;
}

.nav-item {
    font-family: 'Hind Siliguri', sans-serif;
}

.nav-item:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

.container-height {
    height: auto;
}

.background-image,
.background-image-delete {
    background-color: #E6BEAE;
}

.background-image-delete {
    height: 500px;

}

.delete-p {
    margin-top: 180px;
}


.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
    height: 300px;
    width: 100%;
}

.image-container img {

    height: 100%;
    width: 100%;
    object-fit: cover;

}

.img-thumbnail {
    border-radius: 0%;
    border: none;
}

.img-thumbnail-margin {
    margin: auto;
    margin: 50px 0 50px 0;
}


.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #E6BEAE;
}

.image-flash-title {
    position: absolute;
    bottom: 20%;
    min-width: 30%;
    left: -2px;
    background-color: #E6BEAE;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #3a3a3a;
    margin: 4px;
    text-transform: uppercase;
}

#recipe-detail {
    width: 80%;
    height: auto;
    margin: auto;
}


.recipe-header-container {
    width: 100%;
    height: 450px;
}

.recipe-detail-header {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: right;
}

.recipe-title {
    width: 100%;
    height: auto;
    background-color: rgb(230, 190, 174, 0.4);
    padding-right: 15px;
    position: absolute;
    bottom: 10px;
}

.recipe-info {
    width: 100%;
    height: auto;
}

.recipe-detail-img {
    width: 100%;
    height: 100%;
    border: 4px Solid rgb(230, 190, 174, 0.8);
    overflow: hidden;
}

.recipe-detail-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation-name: hero-image-animation;
    animation-duration: 10s;
}

.recipes-card {
    height: 600px;
    padding: 5px;
}

.recipes-info {
    width: 100%;
    height: 200px;
    border: 2px solid #fff;
    background-color: #fff;
}


@keyframes hero-image-animation {
    40% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(1);
    }
}

.all_details,
.comment-bg {
    background-color: #E6BEAE;
}

#ingredients,
.comments-underline {
    text-decoration: underline;
}

#instructions {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
}


.title-container h1,
.instructions-container p {
    word-wrap: break-word;
}

.instructions-container p {
    font-size: 18px;
}

.submitButton {
    background-color: #df835e;
    color: white;
    font-weight: bold;
}

.submitButton:hover {
    background-color: #f4f3ee;
    color: #df835e;
    font-weight: bold;
}


.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.comments {
    color: black;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}


.image-margin {
    margin: auto;
}


.category-container,
.method-container {
    height: auto;
    width: 88%;
    display: flex;
    overflow: auto;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 2;
    -webkit-overflow-scrolling: touch;
}

.categories-methods {
    width: 220px;
    height: 350px;
    background-color: transparent;
    position: relative;
    margin-right: 12px;
}


.flex-list-item {
    flex: 0 0 auto;
}

.list-group-item {
    background-color: transparent;
    border: 0;
}


.categories-methods img {
    width: 100%;
    height: 90%;
    border: 5px solid #f4f3ee;
    object-fit: cover;
}

.image-flash-cat,
.image-flash-method {
    position: absolute;
    height: 30px;
    bottom: 15%;
    min-width: 30%;
    left: -2px;
    background-color: #E6BEAE;
}

.cat-text-decor,
.method-text-decor {
    text-decoration: none;
}

.cat-p,
.method-p {
    text-align: center;
    font-size: 17px;
    color: white;
    margin: 4px;
}

.cat-heading {
    text-align: center;
}

.cat-h-p {
    font-size: 25px;
}

.cat-h1 {
    display: inline;
}

.checked {
    color: orange;
}


.scroll-imagesCat,
.scroll-imagesMethod {
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin: auto;
}

.scroll-imagesCat::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent;
}

.scroll-imagesMethod::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent;
}


.scroll-imagesCat::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.scroll-imagesMethod::-webkit-scrollbar-thumb {
    background-color: transparent;
}


.child {
    width: 250px;
    height: 350px;
    margin: 1px 10px;
    overflow: hidden;
    flex: none;
    margin-right: 60px;
}

.child img {
    width: 100%;
    height: 90%;
    border: 5px solid #f4f3ee;
    object-fit: cover;
}

.cover {
    width: 90%;
    padding: 0px 30px;
    position: relative;
    margin: auto;
}

.arrows {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    border: 1px solid #E6BEAE;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #E6BEAE;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.lh {
    line-height: 0;
    margin-bottom: 0;
}

.edit-delete-btn {
    width: 100%;
    text-align: center;
}

.rating-p {

    font-size: 150%;
}

.account-container {
    height: auto;
    width: 70%;
    margin: auto;
    border-radius: 1%;
    border: 3px solid #E6BEAE;
    background-color: #E6BEAE;
}


.cat-title {
    border: 2px solid #f4f3ee;
    background-color: #f4f3ee;
}

.opacity:hover {
    opacity: 0.5;
}

.btn-border {
    border: none;
    color: #3a3a3a;
}

@media screen and (max-width: 1200px) {
    .child {
        width: 200px;
        height: 300px;
        margin-right: 35px;
    }
}

@media screen and (max-width: 575px) {
    .logo-display {
        display: none;
    }

    .logo-text {
        font-weight: Bold;
        font-size: xx-large;
        letter-spacing: 3px;
    }

    .account-container {
        width: 100%;
    }

    .opacity:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 340px) {
    .child {
        width: 180px;
        height: 280px;
        margin-right: 35px;
    }
}