{% extends "base.html" %} {% block content %}

<div class="container">
<div class="row justify-content-center">
    <div class="col-lg-6 background-image-delete">
      <h4 class="fontM logo-text text-center mt-5">Ooops!</h4>
      <p class="card-text fs-5 fontH text-center mt-5">The page you are looking for is not available!</p>
      <p class="card-text fs-5 fontH text-center">The button below will take you back!</p>
      <div class="w-100 text-center">
        <a href="{% url 'home' %}" class="btn submitButton mt-3">Back</a>
      </div>
      
    </div>
  </div>
</div>

{% endblock %}
