{% extends 'base.html' %} 
{% block content %} 
{% load static %}
{% load crispy_forms_tags %}

<div id="recipe-detail" class="col-md-6">
  <div class="recipe-header-container">
    <div class="recipe-detail-header">
      <div class="recipe-detail-img">
        {% if "placeholder" in recipe.featured_image.url %}
        <img
          src="https://res.cloudinary.com/djo7pphyn/image/upload/v1698436271/ujp4et9qmtsvztyj0png.jpg"
          class="scale"
          alt="placeholder"
        >
        {% else %}
        <img
          src="{{ recipe.featured_image.url }}"
          class="scale"
          alt="{{ recipe.title }}"
        >
        {% endif %}
      </div>
      <div class="recipe-title">
        <h1 class="fontM logo-text text-color mb-4 pt-4 mt-2">
          {{ recipe.title }}
        </h1>
        <p class="fontH text-color">
          This recipe is published by
          <strong> "{{ recipe.author_name }}" </strong>
        </p>
        <p class="fontM text-color font-size">
          <strong
            >Rating: {{ recipe.average_rating }}/5.0
            <i class="far fa-star"></i> | Likes: {{ recipe.number_of_likes }}
            <i class="far fa-heart"></i> | 
            Comments: {{ recipe.number_of_comments }} <i class="far fa-comments"></i>
          </strong>
        </p>
      </div>
    </div>
  </div>
  

<div class="container all_details">
    <div class="row">
        <div class="recipe-info col-12 col-lg-6 text-center align-self-start">
                <p class="fontH">
                    <strong><i class="fa-solid fa-user-clock"></i>
                        Prep Time: {{ recipe.prep_time }} min -
                        <i class="fa-solid fa-clock"></i>
                        Cook Time: {{ recipe.cooking_time }} min
                    </strong>
                </p>
                <p class="fontH">
                    <strong><i class="fa-solid fa-spoon"></i> Method: {{ recipe.method }}</strong>
                </p>
                <p class="fontH">
                    <strong><i class="fa-solid fa-bowl-food"></i> Category: {{recipe.category }}</strong>
                </p>
                <p class="fontH">
                    <strong><i class="fa-solid fa-utensils"></i> Servings: {{ recipe.servings }}</strong>
                </p>
                <p class="fontH">
                    <strong><i class="fa-solid fa-weight-scale"></i> Calories per serving: {{ recipe.calories }}</strong>
                </p>
                <hr>
                <div class="col ">
                    
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <strong>
                            <button type="submit" name="recipeblog_id" value="{{recipe.slug}}" class="btn-like" aria-label="like"><i
                                    class="fas fa-heart"></i></button></strong>
                            {% else %}
                            <strong>
                            <button type="submit" name="recipeblog_id" value="{{recipe.slug}}" class="btn-like" aria-label="like"><i
                                    class="far fa-heart"></i></button></strong>
                            {% endif %}
                        </form>
                        {% else %}
                        <strong>
                        <span class="text"><i class="far fa-heart"></i></span></strong>
                        {% endif %}
                        <!-- The number of likes goes before the closing strong tag -->
                        <strong><span class="text">{{ recipe.number_of_likes }} </span></strong>
                    &#160; &#160; &#160; &#160; &#160;
                    <strong class="text"><i class="far fa-comments"></i>
                        <!-- Our total_comments variable goes before the closing strong tag -->
                        {{ recipe.number_of_comments }}</strong>
                </div>
                
                <hr>
        </div>

        {% if user.is_authenticated %}

        <div class="container">
            <form method="POST">
                {% csrf_token %}
                 <div class="row justify-content-center">
                    <div class="col-lg-1 col-sm-3 col-4 text-end">
                        <p class="fontM rating-p"><strong>Rating:</strong></p>
                      </div>
                      <div class="col-lg-1 col-sm-2 col-3  g-0">
                        {{ rating_form | crispy }}
                            {% csrf_token %}
                      </div>
                        <div class="col-lg-1 col-sm-3 col-3 g-0 ">
                            <button type="submit" class="btn submitButton text-black fontH " aria-label="rating" ><i class="fa fa-star"></i></button>
                        </div>
                </div> 
            </form> 
        </div>
        <hr>
        {% else %}
        <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-3 col-4 text-center">
                        <p class="fontM fw-bold fs-4">Login to rate this recipe.</p>
                    </div>
                </div>
        </div>
        <hr>
        {% endif %}

        <div class="ingredients-container col-12 col-lg-6 mt-3 align-self-center">
            <h2 class="fontM" id="ingredients">Ingredients:</h2>
            {{ recipe.ingredients | safe }} 
        </div>

        <div class="instructions-container col-12 col-lg-6 mt-3">
            <h2  class="fontM" id="instructions">Instructions:</h2>
            {{ recipe.instructions | safe }} 
            <hr>
        </div>
        
    </div>
    
    <div class="edit-delete-btn">
    {% if user.is_authenticated and user == recipe.author_email %}
        <a href="{% url 'edit_recipe' recipe.slug %}"  class=" btn btn-sm submitButton fontH">Edit</a>
        <a href="{% url 'delete_recipe' recipe.slug %}" class="btn btn-sm submitButton fontH">Delete</a>
    {% endif %}
    </div>



<div class="container comment-bg">
    <div class="row">
        <!-- comments start-->
        <div class="col-md-7 card mb-4 mt-3 ">
            <h3 class="fontM fw-bold comments-underline">Comments:</h3>
            {% if not commented %}
            <p class="fontH"> There are no comments here. Be the
                first to add a comment.
                {% if not user.is_authenticated %}
                <a class="click fs-5 text-decoration-none fontM text-dark fw-bold" href="{% url 'account_login' %}">Sign In</a> here.</p>
            <p class="fontH">Or, if you have not created an account yet, 
                <a class="click fs-5 text-decoration-none fontM text-dark fw-bold" href="{% url 'account_signup' %}">Sign Up</a> here.</p>
                {% endif %} 
            {% endif %}
            {% for comment in comments %}
            <div class="mt-3 comments{% if not comment.approved and comment.email == user.email %} faded{% elif not comment.approved %} d-none{% endif %}">
                
                <p class="fontM lh">{{ comment.name }}: <strong class="fontH fw-normal fs-6">{{ comment.comment }}</strong></p> 
                <p class="font-weight-normal fontM mt-2">On: {{ comment.created_on }} </p>
                    
                
                {% if not comment.approved and comment.email == user.email %}
                    <p class="approval fontH">This comment is awaiting approval</p>
                {% endif %} 
            </div>
            {% endfor %}  
        </div>
        <!-- comments end -->

        <!-- comment form start -->
        <div class="col-md-5 card mb-4 mt-3 align-self-starts">
            
                <!-- For later -->
                {% if user.is_authenticated %}
    
                <h3 class="fontM fw-bold comments-underline">Leave a comment:</h3>
                <p>Posting as: {{ user }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn mt-4 submitButton fw-bold text-black fontH">Submit</button>
                </form>
                {% else %}
                <h3 class="fontM fw-bold comments-underline">Log in to leave a comment</h3>
                {% endif %}
            
        </div> 
        <!-- comment form end -->
    </div>
</div>


</div>
</div>
{% endblock %}

