{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row ">
        {% for recipe in model.recipe_list %}
        <div class="card-margin col-12 col-sm-6 col-lg-3 opacity">
            <a href="{% url 'full_recipe' recipe.slug %}">
            <div class="image-container img-thumbnail-margin">
                {% if "placeholder" in recipe.featured_image.url %}
                <img class="img-thumbnail"
                    src="https://res.cloudinary.com/dvbuzkqgj/image/upload/v1699226293/zxgxa4fieerchccyk8em.jpg"
                    alt="placeholder image">
                {% else %}
                <img class="img-thumbnail" src=" {{ recipe.featured_image.url }}" alt="{{ recipe.title }}">
                {% endif %}
                <a href="{% url 'full_recipe' recipe.slug %}" class="post-link">
                    <div class="image-flash-title">
                        <p class="author fontH">{{ recipe.title }}</p>
                    </div>
                </a>
                <div class="image-flash">
                    <p class="author fontH">Author: {{ recipe.author_name }}</p>
                </div>

                <p class="card-text fontM lh"><strong>Avg Rating:
                    <span class="fa fa-star {% if recipe.average_rating > 0 %} checked {% endif %}"> </span>
                    <span class="fa fa-star {% if recipe.average_rating > 1 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if recipe.average_rating > 2 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if recipe.average_rating > 3 %} checked {% endif %}" ></span>
                    <span class="fa fa-star {% if recipe.average_rating > 4 %} checked {% endif %}"></span>
                  {{ recipe.average_rating }}/5.0 </strong><p>
                
                <p class="lh"><strong class="card-text fontM">
                        Likes:
                        {{ recipe.number_of_likes }} <i class="far fa-heart"></i> |
                        Comments:
                        {{ recipe.number_of_comments}} <i class="fa-regular fa-comment"></i> </strong>
                </p>
            </a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<hr>

<div class="w-100 cat-heading mt-5">
    <p class="cat-h-p cat-h1 fontM">
        Choose by:   <h1 class="cat-h1 fontM logo-text">   Food Category</h1>
    </p>
</div>


 <div class="cover">
    <button class="left arrows" onclick="rightScroll()"><i class="fa-solid fa-arrow-left"></i></button>
   <div class="scroll-imagesCat">
        {% for category in model.category_list %}
        <div class="child opacity">
            <a class="cat-text-decor" href="/category/{{ category }}">
                <img src="/static/image/Category/{{ category }}.jpg" alt="">
                    <div class="cat-title"><p class="fontM cat-p text-dark fw-bold"> {{ category.food_type }}</p></div>
            </a>
        </div>
        {% endfor %}
   </div>
   <button class="right arrows" onclick="leftScroll()"><i class="fa-solid fa-arrow-right"></i></button>
</div>


<hr>

<div class="w-100 cat-heading mt-5">
    <p class="cat-h-p cat-h1 fontM">
        Choose by:
    <h1 class="cat-h1 fontM logo-text"> Food Preperation Method</h1>
    </p>
</div>


<div class="cover">
    <button class="left arrows" onclick="rightScrollM()"><i class="fa-solid fa-arrow-left"></i></button>
   <div class="scroll-imagesMethod">
        {% for method in model.method_list %}
        <div class="child opacity">
            <a class="cat-text-decor" href="/category/{{ method }}">
                <img src="/static/image/Method/{{ method }}.jpg" alt="">
                <div class="cat-title"><p class="fontM cat-p text-dark fw-bold"> {{ method.recipe_method }}</p></div>
            </a>
        </div>
        {% endfor %}
   </div>
   <button class="right arrows" onclick="leftScrollM()"><i class="fa-solid fa-arrow-right"></i></button>
</div>

<!-- 
<div class="container method-container">
    <ul class="list-group list-group-horizontal ">
        {% for method in model.method_list %}
        <li class="list-group-item flex-list-item ">
            <div class="categories-methods">
                <a class="method-text-decor" href="/method/{{method}}">
                    <img src="/static/image/Method/{{ method }}.jpg" alt="">
                    <div class="image-flash-method">
                        <p class="fontH method-p"> {{ method.recipe_method }}</p>
                    </div>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div> -->



{% endblock %}