{% extends "base.html" %}

{% block additional_styles %}
<style>
    body {
        background-color: rgb(225, 221, 221);
    }
</style>
{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h1> Here is a list of recipes in the <strong>{{ catlist.cat }}</strong> category:</h1>
        </div>
        {% for recipe in catlist.recipes %}
        <div class="recipes col-12 col-sm-6 col-lg-3">
            <div class="card recipe-card mb-3 h-100">
                {% if "placeholder" in recipe.featured_image.url %}
                <img src="https://res.cloudinary.com/dx0imlozl/image/upload/v1698078234/photo-1554998171-706e730d721d_1_kwyte4.avif"
                    class="card-img-top" alt="the default food image">
                {% else %}
                <img class="card-img-top" src="{{ recipe.featured_image.url }}" alt="image of the recipe">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ recipe.title }}</h2>
                    <p class="card-text">{{ recipe.created_on }}</p>
                    <p><i class="fa-solid fa-utensils"></i> {{ recipe.category }}</p>
                    <p><strong class="card-text"><i class="fa-regular fa-clock"></i> {{ recipe.cook_time }}
                            min</strong></p>
                    <a href="{% url 'full_recipe' recipe.slug %}" class="btn view">View Recipe</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="mt-4">There are no recipes in this category yet. Do you want to be the first to share something here?
        </p>
        {% endfor %}
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col align-self-center">
            <a class="btn btn-success btn-lg green links" href="{% url 'home' %}">Back</a>
        </div>
    </div>
</div>

{% endblock %}